include mixins/panel
extend layout
block vars

    - var nextEndDate = new Date(endDate);
    - nextEndDate.setTime(nextEndDate.getTime() + (24*60*60*1000) * time);
    - var prevEndDate = new Date(endDate);
    - prevEndDate.setTime(prevEndDate.getTime() - (24*60*60*1000) * time);
    - var nextEndDateVal = nextEndDate.valueOf();
    - var prevEndDateVal = prevEndDate.valueOf();
    - nextEndDate = nextEndDate.toString().substr(0, 24);
    - prevEndDate = prevEndDate.toString().substr(0, 24);
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js", type="text/javascript")
    script.
        var dateStart = new Date("#{startDate}").valueOf() / 1000;
        var dateEnd = new Date("#{endDate}").valueOf() / 1000;
        var buyTrades = JSON.parse('!{buyTrades}');
        var sellTrades = JSON.parse('!{sellTrades}');
        var lowPreds = JSON.parse('!{lowPreds}');
        var midPreds = JSON.parse('!{midPreds}');
        var highPreds = JSON.parse('!{highPreds}');
        var page = 'graphs'
        var url = "https://poloniex.com/public?command=returnChartData&currencyPair=#{pair}&start="+dateStart+"&end="+dateEnd+"&period=#{period}";
        function httpGetAsync(theUrl, callback)
        {
            console.log(theUrl);
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function() { 
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                    callback(xmlHttp.responseText);
            }
            xmlHttp.open("GET", theUrl, true); // true for asynchronous 
            xmlHttp.send(null);
        }
        function populateChart(data)
        {
            var json_object = JSON.parse(data);
            var priceArray = [];
            var openLongArray = [];
            var closeLongArray = [];
            var openShortArray = [];
            var closeShortArray = [];
            var midArray = [];
            var lowArray = [];
            var highArray = [];
            var midArray2 = [];
            var lowArray2 = [];
            var highArray2 = [];
            var profitArray = [];
            
            var totalProfitCount = 0;
            var profit = 0;
            var profitLastTime = 0;
            json_object.forEach(function(obj) { 
                priceArray.push({x: (obj.date + 8 * 60 * 60 + 3003), y: obj.weightedAverage});
                profit = 0;
                buyTrades.forEach(function(obj2) { 
                    if(obj2.open_date_conv < obj.date)
                    {
                        if(obj2.close_date != null) {
                            //- console.log((new Date(obj2.close_date)).getTime()/1000 - 2* "#{period}", (new Date(obj2.close_date)).getTime()/1000- 1* "#{period}", obj.date, obj2.id)
                            if(obj.date > (new Date(obj2.close_date)).getTime()/1000 && obj.date < (new Date(obj2.close_date)).getTime()/1000 + "#{period}" )
                            {
                                profit += (obj2.close_price - obj2.open_price) * obj2.amount - obj2.fee;
                                console.log(profit, obj2.close_price, obj2.open_price, obj2.id, 1);
                            }
                            else if(obj.date < (new Date(obj2.close_date)).getTime()/1000 + "#{period}" )
                            {
                                profit += (obj.weightedAverage - obj2.open_price) * obj2.amount - obj2.fee;
                                console.log(profit, obj.weightedAverage, obj2.open_price, obj2.id,2, obj.date,(new Date(obj2.close_date)).getTime());
                            }
                        } else {
                            
                            profit += (obj.weightedAverage - obj2.open_price) * obj2.amount - obj2.fee;
                            console.log(profit, obj.weightedAverage, obj2.open_price, obj2.id,3);
                        }
                    }
                });
                profitArray.push({x: (obj.date + 2 * 60 * 60), y: profit})
                totalProfitCount += profit - profitLastTime;
                //- profitLastTime = profit;
            });
            buyTrades.forEach(function(obj) { 
                if(obj.amount >= 0) {
                    openLongArray.push({x: obj.open_date_conv, y: obj.open_price});
                } else {
                    openShortArray.push({x: obj.open_date_conv, y: obj.open_price});
                }
            });
            sellTrades.forEach(function(obj) { 
                if(obj.amount >= 0) {
                    closeLongArray.push({x: obj.close_date_conv, y: obj.close_price});
                } else {
                    closeShortArray.push({x: obj.close_date_conv, y: obj.close_price});
                }
            });
            lowPreds.forEach(function(obj) { 
            lowArray.push({x: obj.pred_date_conv - 4 * 60 * 60, y: obj.value});
            lowArray2.push({x: obj.pred_date_conv - 4 * 60 * 60, y: obj.prev_val});
            });
            highPreds.forEach(function(obj) { 
            highArray.push({x: obj.pred_date_conv - 4 * 60 * 60, y: obj.value});
            highArray2.push({x: obj.pred_date_conv - 4 * 60 * 60, y: obj.prev_val});
            });
            midPreds.forEach(function(obj) { 
            midArray.push({x: obj.pred_date_conv - 4 * 60 * 60, y: obj.value});
            midArray2.push({x: obj.pred_date_conv - 4 * 60 * 60, y: obj.prev_val});
            });
            //- console.log(priceArray, buyArray);
            var id = 'chartone';
            var ctx = document.getElementById(id).getContext('2d');
            var chart = new Chart(ctx, {
                type: 'scatter',
                data: {
                    datasets: [
                    {
                        data: closeLongArray,
                        label: 'Close long',  
                        yAxisID: 'A',                      // 'buy' price data
                        borderColor: 'rgb(255, 99, 132)', // line color
                        backgroundColor: 'rgba(255, 99, 132)', // fill color
                        fill: false,                      // no fill
                        showLine: false,
                        pointRadius: 5
                    },
                    {
                        data: openLongArray,
                        label: 'Open long',  
                        yAxisID: 'A',                      // 'buy' price data
                        borderColor: 'rgb(130, 255, 130)', // line color
                        backgroundColor: 'rgba(30, 255, 30)', // fill color
                        fill: false,                      // no fill
                        showLine: false,
                        pointRadius: 5
                    },
                    
                    {
                        data: openShortArray,
                        label: 'Open short',  
                        yAxisID: 'A',                      // 'buy' price data
                        borderColor: 'rgb(25, 130, 255)', // line color
                        backgroundColor: 'rgb(25, 130, 255)', // fill color
                        fill: false,                      // no fill
                        showLine: false,
                        pointRadius: 5
                    },
                    {
                        data: closeShortArray,
                        label: 'Close short',  
                        yAxisID: 'A',                      // 'buy' price data
                        borderColor: 'rgb(180, 240, 255)', // line color
                        backgroundColor: 'rgb(180, 240, 255)', // fill color
                        fill: false,                      // no fill
                        showLine: false,
                        pointRadius: 5
                    },
                    {
                        data: lowArray2,
                        label: 'Low Pred 2',                     // 'buy' price data
                        yAxisID: 'A',   
                        borderColor: 'rgba(255, 1, 1, 0.2)', // line color
                        backgroundColor: 'rgba(255, 1, 1, 0.2)', // fill color
                        fill: false                      // no fill
                        
                    },
                    {
                        data: midArray2,
                        label: 'Avg Pred 2',    
                        yAxisID: 'A',                    // 'buy' price data
                        borderColor: 'rgb(30, 30, 255 ,0.2)', // line color
                        backgroundColor: 'rgba(1, 1, 255, 0.2)', // fill color
                        fill: false                      // no fill
                        
                    },
                    {
                        data: highArray2,
                        label: 'High pred 2',   
                        yAxisID: 'A',                     // 'buy' price data
                        borderColor: 'rgba(1, 255, 1, 0.2)', // line color
                        backgroundColor: 'rgba(1, 255, 1, 0.2)', // fill color
                        fill: false
                    },
                    {
                        data: lowArray,
                        label: 'Low Pred',  
                        yAxisID: 'A',                      // 'buy' price data
                        borderColor: 'rgba(255, 1, 1, 0.5)', // line color
                        backgroundColor: 'rgba(255, 1, 1, 0.5)', // fill color
                        fill: false                      // no fill
                        
                    },
                    {
                        data: midArray,
                        label: 'Avg Pred',     
                        yAxisID: 'A',                   // 'buy' price data
                        borderColor: 'rgb(30, 30, 255)', // line color
                        backgroundColor: 'rgba(1, 1, 255)', // fill color
                        fill: false                      // no fill
                        
                    },
                    {
                        data: highArray,
                        label: 'High pred',   
                        yAxisID: 'A',                     // 'buy' price data
                        borderColor: 'rgba(1, 255, 1, 0.5)', // line color
                        backgroundColor: 'rgba(1, 255, 1, 0.5)', // fill color
                        fill: false
                    },
                    {
                        data: profitArray,
                        label: "Profit",  
                        yAxisID: 'B',                   // 'buy' price data
                        borderColor: 'rgba(255, 255, 0, 0.5)', // line color
                        backgroundColor: 'rgba(255, 255, 0, 0.5)', // fill color
                        fill: false

                    },
                    {
                        data: priceArray,
                        label: 'Prices', 
                        yAxisID: 'A',                     // 'buy' price data
                        borderColor: 'rgb(200, 200, 200)', // line color
                        backgroundColor: 'rgba(200, 200, 200, 0.3)', // fill color
                        fill: true                      // no fill
                        
                    }]
                },
                options: {
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItem, data) {
                                return (new Date((tooltipItem.xLabel - (8 * 60 *60)) * 1000)).toString().substr(0, 24) + ", £" + tooltipItem.yLabel;
                            }
                        }
                    },
                    legend: {
                    position: 'right',
                    labels: {
                        fontColor: 'white'
                        
                        }
                    },
                    title: {
                        text: 'BTC/USD (' + id + ')', // chart title
                        fontColor: "white",
                        display: true
                    },
                    scales: {
                    xAxes: [{
                        ticks: {
                            userCallback: function(label, index, labels) {
                                return (new Date((label - (8 * 60 *60)) * 1000)).toString().substr(0, 24);
                            },
                            fontColor: 'white'
                        }
                        }
                    ],
                    yAxes: [{
                        id: 'A',
                        type: 'linear',
                        position: 'left',
                    }, {
                        id: 'B',
                        type: 'linear',
                        position: 'right'
                    }]}
                }
                }
            );
        }
        httpGetAsync(url, populateChart);
block content
    div
        div(class="col-md-6")
            ul
                li 
                    a(href="/graphs?endDate=#{prevEndDateVal}&time=#{time}", class="custom") previous (#{prevEndDate})
                li
                    a(href="/graphs?endDate=#{nextEndDateVal}&time=#{time}", class="custom") next (#{nextEndDate})
        div(class="col-md-6")
            form(action="/graphs?endDate=#{endDate.getTime()}", method="post") 
                div(class="form-group row")
                    label(class="col-md-2 col-form-label custom" for='time') Time
                    div(class="col-md-5")
                        input.form-control(type='number' id='time' placeholder='#{time}' name='time', style="background-color: black; color: white;")
                    div(class="col-md-5")
                        button.btn.btn-primary(type='submit') Change
    canvas(id="chartone", style="background-color: rgba(0, 0, 0, 0.2)")
    br