include mixins/pagination
extend layout
block vars
  - var page = 'trades'
  - console.log(locals.trades);
block content
  - var tradelist = trades
  div
    table.table.table-hover
      thead
        tr
          th ID
          th Open date
          th Open price
          th Close date
          th Close price
          th Fee
          th Buy / Sell
      tbody
        each trade in tradelist
          tr
            td=trade.id
            td=trade.open_date
            td=trade.open_price
            td=trade.close_date
            td=trade.close_price
            td=trade.fee
            if trade.amount >= 0
              td='Buy'
            else 
              td='Sell'
    +pagination(pagination.startPage,pagination.maxPage,pagination.currPage,'/page?=')